.web.footer{
	width: 100%;
	background: #333;
	border-top: 2px solid #000;
	position: fixed;
	bottom: 0;
	.wrapper-audio{
		audio{
			width: 100%;
		}
		#divProgreso{
			height: 15px;
			margin-top: 10px;
			border: inset 1px #f1f1f1;
			border-radius: 4px;
			overflow: hidden;
		}
		#divBarra{
		   width: 4px;
		   height: 100%;
		   background: @med;
		   border-right: solid 2px #f1f1f1;
		}
	}

	.next-previus{
		width: 100%;

		color:white;
    	text-align: center;
    	height: 35px;
    	.icono-footer{
    		i{	    			
				height: 20px;
   				width: 20px;

    		}
			background-color: #333;
			display: inline-block;
			width: 24%;
			margin-top: 10px;
    	}
    	.play-pause{
    			.fa-pause{
					display: none;
				}
				.fa-play{
					display: inline-block;
				}
    		&.playing-song{
				.fa-pause{
					display: inline-block !important;
				}
				.fa-play{
					display: none !important;
				}
    		}
			
    	}
	}
}