.consejo{
	margin-top: 30px;
	background-color: @pancake;
	position: relative;
	width: 100%;

	padding: 10px;
	
	/*&:before {
		border-color: rgba(194, 225, 245, 0);
		border-widt: 36px;
		margin-left: -36px;
		content:"";
		position: absolute;
		width: 0;
		height: 0;
		border­bottom: 30px solid #8f0;
		border­right: 20px solid transparent;
		border­left: 20px solid transparent;
		margin: ­30px 0 0 90px;
	}*/
	.texto-consejo{
		font-size: 13px;
	}
}
#triangulo{
	width: 0;
	height: 0;
	border-bottom: 30px solid @pancake;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;

}