.web.header{
	background-color: #45ADA8;
	color: white;
	.wrapper-brand{
		width: 100%;
	}
	.brand{
	    margin: 0 auto;
	    text-align: center;
	    font-size: 19px;
	    padding: 11px;
	}
	#button-new-song{
		float: right;
		background-color: transparent;
		.btn-add{
			font-size: 35px;	
		}
	}
}