

.pag-songs{
	.songsList{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		li{
			padding: 10px;
			margin: 10px;
			border: 1px solid @med;
			.icono-musica{
				padding: 0 10px;
			}
			.info-song-li{
				padding: 0 10px;
			}
			.wrapper-buttons-list{
				display: inline;
				float: right;
				width: 30%;
				.icono-lista{
					background-color: transparent;
					width: 30%;
    				display: inline-block;
				}
			}
		}

	}
}